.claude
.vscode
minirtObjects
miniRT

src/aux_libft/libft.a
src/aux_libft/*.o

minilibx-linux/libmlx.a
minilibx-linux/libmlx_Linux.a
minilibx-linux/obj/
minilibx-linux/*.o
minilibx-linux/test/mlx-test
minilibx-linux/test/*.o
minilibx-linux/makefile.gen
minilibx-linux/test/makefile.gen
minilibx-linux/*~
minilibx-linux/*.core
minilibx-linux/test/*~
minilibx-linux/test/*.core
minilibx-linux/*.a
minilibx-linux/*.so

docs/fract-ol